/* HEADER & NAVBAR */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px 40px;
    gap: 10px;
}

.navbar {
    font-family: 'Open Sans Variable', sans-serif;
}

.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    color: #46464c;
    font-weight: 700;
}

.nav-item a:hover {
    color: #39a1fb;
    border-bottom: 7px solid #0099ff;
    padding-bottom: 73px;
}

/* MAIN */
.content {
    min-height: 10rem;
    background-color: #1c1c1c;
}

.content p {
    font-family: 'Open Sans Variable', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 300px;
    /* temporary margin waiting for real content */
    font-weight: 700;
}

/* ONLINE SHOP */
.onlineshop {
    background-color: #0282F9;
    padding: 80px;
    color: white;
}

.onlineshop img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.onlineshop span {
    margin-left: 1rem;
}

/* FOOTER */
.heroesbackground h5 {
    color: white;
    margin-top: 40px;
}

footer {
    background-image: url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.socials {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: #303030;
}

.socials button {
    font-family: 'Open Sans Variable', sans-serif;
    border: 2px solid #0099ff;
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}

.socials h5 {
    font-family: 'Open Sans Variable', sans-serif;
    color: #0099ff;
}