/* HEADER & NAVBAR */
header {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin: 15px;
}

.navbar {
    gap: 3rem;
    font-family: 'Open Sans Variable', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #46464c;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

.navbar .active {
    color: #39a1fb;
    border-bottom: 3px solid #0099ff;
}

/* MAIN */
.content {
    min-height: 10rem;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
}

.content p {
    font-family: 'Open Sans Variable', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 300px;
}